{{!--
<div class>
    <h1>{{this.name}}</h1>
    <h3>{{this.code}}</h3>
    <img src="{{this.image}}" alt="">
    <p>Net fucking worth: {{this.money}}</p>
    <a href="/company/{{this.id}}">Read fucking more</a>
</div> --}}

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div style="width: 300px;" class="thumbnail">
            {{!--
            <img style="width: 100%; " src="{{this.image}}" alt="FUCKING IMG"> --}}
            <div class="caption">
                <h1>{{this.name}}</h1>
                <h3>{{this.code}}</h3>
                <h3>Net fucking worth: {{this.money}}</h3>
                {{!-- <a href="/company/{{this.id}}" class="btn btn-primary" role="button">See more</a> --}}
                <a href="#" class="btn btn-primary" role="button">Edit</a>
                <a href="#" class="btn btn-default" role="button">Delete</a>
            </div>
        </div>
    </div>
</div>