<div class="row">
    <div class="col-sm-6 col-md-4">
        <div style="width: 300px;" class="thumbnail">
            <div class="caption">
                <img src="{{this.image}}" alt="image" class="width:200;">
                <h1>{{this.name}}</h1>
                <h3>{{this.code}}</h3>
                <h3>Net worth: {{this.money}}</h3>
                <a href="/companies/{{this.id}}/update" class="btn btn-primary" role="button">Edit</a>
                <a href="/companies/{{this.id}}/details" class="btn btn-primary" role="button">Details</a>
                <form action="/companies/{{this.id}}/delete" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
